@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-image: url(http://helpinghands-salem.org/wp-content/uploads/2014/09/helping-hands-bg.png); background-size: 50%;">
    <h1>Helping Hand</h1>
    <p class="lead">Helping Hand is a premier site in aiding the disabled or ill with personal requests.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-5">
        <h2>Place an Order</h2>
        <p>
            Helping Hand caters all legal requests, from food delivery to general shopping for those restricted to home.
        </p>
        <p><a class="btn btn-default" href="/Order">Customer &raquo;</a></p>
    </div>

    <div class="col-md-5">
        <h2>Pickup Orders</h2>
        <p>Helping Hand allows any drivers in the vicinity to take up orders and look at developing requests.</p>
        <p><a class="btn btn-default" href="/Driver">Driver &raquo;</a></p>
    </div>
</div>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 150px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<br />
<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 300px;"></div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3mnFZJXsKn31NVKssduRVdJv74gX7A5A&callback=initMap"></script>
    <section class="scripts">

        <script type="text/javascript">


    $(document).ready(function () {
        Initialize();
    });

    // Where all the fun happens
    function Initialize() {

        // Google has tweaked their interface somewhat - this tells the api to use that new UI
        google.maps.visualRefresh = true;
        var Milwaukee = new google.maps.LatLng(43.034061, -87.911760);

        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 12,
            center: { lat: -34.397, lng: 150.644 },
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };
        
            //GeoLocation FIND
        var infoWindow = new google.maps.InfoWindow({ map: map });
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }


        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
        }
        //Give the pins different colors
        var pinColor = "5864f0";
        var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
            new google.maps.Size(21, 34),
            new google.maps.Point(0, 0),
            new google.maps.Point(10, 34));
        // This makes the div with id "map_canvas" a google map
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        //Propagate Some Markers
        var marker1 = new google.maps.Marker({
            position: Milwaukee,
            map: map,
            title: 'Order!'
        });
        var marker2 = new google.maps.Marker({
            position: { lat: 43.064426, lng: -87.8826093 },
            map: map,
            title: 'Driver!',
            icon: pinImage
        });
        var marker3 = new google.maps.Marker({
            position: { lat: 43.074064, lng: -87.8835057 },
            map: map,
            title: 'Driver!',
            icon: pinImage
        });
        map.addListener('center_changed', function () {
            // 3 seconds after the center of the map has changed, pan back to the
            // marker.
            window.setTimeout(function () {
                map.panTo(marker.getPosition());
            }, 3000);
        });

        marker.addListener('click', function () {
            map.setZoom(8);
            map.setCenter(marker.getPosition());
        });
        
    }

        </script>
    </section>
}
<div class="row">
    <div class="col-md-12">
        <font color="red">Red</font> = Orders
        <br />
        <font color="blue">Blue</font> = Drives
    </div>
</div>


