@model IEnumerable<HelpingHand.Models.DriverModels>

@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html>
<div class="jumbotron" style="background-image: url(http://helpinghands-salem.org/wp-content/uploads/2014/09/helping-hands-bg.png); background-size: 50%;">
    <h1>Helping Hand</h1>
    <h2>Driver's Aide and Order Details</h2>
</div>

    <div class="col-sm-6">
        <br>
        <h2 align="center">Delivery Time Requested</h2>
    </div>
    <div class="col-sm-6">
        <br>
        <h2 align="center">Order Detail</h2>
    </div>
</body>
</html>